{% extends "layout.html" %}
{% block header %}
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}" ></script>

{% endblock %}
    {% block content %}
    <div id="map-canvas" style="float:left;width:70%;height:500px;"></div>
    <div id="control_panel" style="float:right;width:30%;text-align:left;padding-top:20px">
    <div style="margin:20px;border-width:2px;">
    <b>Start:</b>
    <select id="start">
	{% for msm in museum %}
	<option value="{{ msm.latitude }},{{ msm.longtitude }}">{{ msm.name }}</option>
   {% endfor %}
	 </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl-Click for multiple selection)</i> <br>
    <select multiple id="waypoints" size=8>
	{% for msm in museum %}
      <option value="{{ msm.latitude }},{{ msm.longtitude }}">{{ msm.name }}</input>
	{% endfor %}
    </select>
    <br>
    <b>End:</b>
    <select id="end">
	{% for msm in museum %}
      <option value="{{ msm.latitude }},{{ msm.longtitude }}">{{ msm.name }}</option>
	{% endfor %}
    </select>
    <br>
      <input type="submit" onclick="calcRoute();" value="Find my Route!">
    </div>
    <div id="directions_panel" style="margin:20px;background-color:#000000;"></div>
    </div>
	<div class= span8 >
	<div id="information_panel" style="margin:5px;">we recommend these:<br>
	{% for msm in museum %}
	<b>{{ msm.name }}</b> - {{ msm.extra }}<br>
	{% endfor %}

</div>	



    {% endblock %}
